<!--******************************************************************** 
** Program: CS290 Course Project        CS-290
** Author: Phillip Wellheuser
** Date: 8/4/19  
** Description: Basic website demonstrative of basic website skills
*********************************************************************-->
<html lang="en">
<link rel="stylesheet" href="../public/css/styles.css" type="text/css">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Add icon library -->
<head>
    <meta charset="utf-8">
    <title>Jeans</title>
    <h1 id=pageTitle>Jeans</h1>
    <h3 id=pageSubtitle>(Y'know, just generally speaking...)</h3>
    <div id=subpages>        
    </div>
</head>

<body>
                
	<div class="content">
    <p>Jeans and me go way back. I've been wearing pants practically forever. Mostly jeans. They're cheap and get the job done.</p>
    <h3 align="left">Video:</h3>
    <p>You know what all this talk of pants reminds me of? A music video of a song about pants that I remember fondly from my youth:</p>
   
    	<iframe width="560" height="315" src="https://www.youtube.com/embed/5R2uWxWDJ_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
	</div>
    
    <!-- JavaScript Chunk -->
    <script src="script.js"></script>
</body>



</html>